*,
*::after,
*::before {
  box-sizing: border-box;
}
  
/* Color palette */
:root {
    --system-light-gray: #F8F8F8;
    --system-dark-gray: #EFEFF4;
    --system-blue: #007AFF;
  
    --active-selection: #4A83F2;
    --black: #1E1E1E;
    --white: #FFF;
    
    --route-primary: #5AC7FA;
    --route-secondary: #4A83F2;
  }

  @font-face {
    font-family: SFProText;
    src: url(SFProText-Regular.ttf)
  }

nav {
  background-image: url(images/Back.png);
  background-repeat: no-repeat;
  background-position-y: 32px;
  background-color: var(--system-light-gray);
  border-bottom: 1px solid #a9a9a9;
}

.statusbar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.WalkDistance {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#walkdistance {
  background-color: var(--white);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

  main {
    max-width: 425px;
    width: 100%;
    margin: auto;
    font-family: SFProText;
    background-color: var(--system-dark-gray);
  }

  .busnumber {
    position: absolute;
    font-weight: bold;
    width: 47px;
    height: 47px;
    color: var(--white);
    padding: 15px;
    border-radius: 10px;
    background: #5AC7FA;
  }

  .busnumber3 {
    position: absolute;
    font-weight: bold;
    width: 47px;
    height: 47px;
    color: var(--white);
    padding: 15px 30px 10px 10px;
    border-radius: 10px;
    background: #5AC7FA;
  }

 .arrow {
   margin-left: 360px;
   margin-top: 10px;
   position: absolute;
 }

  h1 {
    font-size: small;  
    color: #939393;
    padding-top: 10px;
    padding-left: 10px;
  }

  h2 {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  ul {
    background: #ffffff;
    padding: 10px;
  }
  
  ul li {
    background: #ffffff;
    display: inline;
  }

  .row{
    height: 75px;  
    padding-top: 15px;
    margin-bottom: 1px;
  }

  .destination {
      margin-left: 60px;
      color: var(--route-primary); 
      font-size: 20px;
  }

  .eta {
      font-weight: bold;
      font-size: 16px;
      margin-left: 60px;
      color: var(--route-secondary);
  }

  .frequency {
      color: #939393;
      font-size: 14px;
      font-style: italic;
  }

  .resumes {
    margin-left: 60px;
    color: #939393;
  }

  footer {
    border-top: ##a9a9a9;
    background-color: var(--system-light-gray);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    color:#FF3F3F;
  }